.community-cover-image-wrapper{
    height: 200px;
}
.community-cover-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.community-info{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.members-count{
    font-size: 14px;
}
.community-bio{
    font-size: 14px;
    margin-top: 10px;
}
.community-rules-overlay{
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    z-index: 9999999;
}
.community-rules-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.community-rules-card{
    width: 40%;
    background-color: white;
    margin-top: 60px;
    overflow: hidden;
    border-radius: 8px;
}
.community-rules-header{
    display: flex;
    gap: 26px;
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}
.community-rule-item{
    font-size: 14px;
    padding: 10px 20px;
}
.community-rule-title{
    font-weight: bold;
}
.community-accept-button{
    background-color: #A16CE6;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 14px 0px;
    cursor: pointer;
}
.read-more-rules{
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.community-main-container{
    margin-top: 60px;
}
@media only screen and (max-width:600px){
    .community-main-wrapper{
        padding: 0px;
    }
    .community-main-container{
        padding: 0px;
        margin-top: 0px;
    }
    .community-follow-section{
        display: none;
    }
    .community-bio{
        font-size: 12px;
    }
    .members-count{
        font-size: 12px;
    }
    .community-info-section img{
        width: 70%;
    }
    .community-rules-card{
        width: 95%;
        margin-top: 20px;
    }
}