.madarsa-info-wrapper{
    background-color: whitesmoke;
    padding: 20px;
}
.madarsa-title{
    font-size: 20px;
    font-weight: bold;
}
.madarsa-username{
    font-size: 14px;
    font-weight: bold;
    color: gray;
}
.madarsa-bio{
    font-size: 14px;
    margin-top: 28px;
}
.madarsa-type-info-wrapper{
    display: flex;
    margin-top: 20px;
}
.madarsa-type-info{
    font-size: 14px;
    padding-right: 20px;
    font-size: 12px;
    color: gray;
}
.madarsa-data-content-wrapper{
    display: flex;
    background-color: whitesmoke;
    border-top: 1px solid lightgray;
}
.madarsa-data-item{
    font-weight: bold;
    padding: 10px 20px;
}
.active-madarsa-item{
    border-bottom: 4px solid magenta;
}
.madarsa-cover-image-wrapper{
    height: 300px;
    position: relative;
}
.madarsa-cover-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.madarsa-follower-info{
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.follower-data{
    display: flex;
    font-size: 14px;
    gap:16px;
}
.madarsa-follow-button{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 16px;
    font-size: 12px;
}
.madarsa-notification{
    all: unset;
    background-color: whitesmoke;
    padding: 8px 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.madarsa-dp-wrapper{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    z-index: 999999999;
    margin-left: 16px;
    margin-bottom: 10px;
}
.madarsa-basics{
    position: relative;
}
.madarsa-dp{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.madarsa-details{
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.mobile-profile-action-wrapper{
    display: none;
    position: relative;
}
.mobile-info-wrapper{
    display: none;
}
.active{
    border-bottom: 4px solid black;
}

@media only screen and (max-width:600px){
    .notification-user-page{
        display: none;
    }
    .madarsa-cover-image-wrapper{
        height: 200px;
    }
    .madarsa-dp-wrapper{
        height: 70px;
        width: 70px;
    }
    .user-main-wrapper{
        padding: 0px !important;
    }
    .madarsa-details{
        border-radius: 0px;
        margin-top: 0px;
    }
    .madarsa-bio{
        font-size: 12px;
        margin-top: 10px;
    }
    .madarsa-title{
        font-size: 16px;
    }
    .madarsa-username{
        font-size: 12px;
    }
    .madarsa-data-item{
        font-size: 14px;
        padding: 10px;
    }
    .madarsa-data-content-wrapper{
        overflow-y: scroll;
    }
    .madarsa-data-content-wrapper::-webkit-scrollbar{
        display: none;
    }
    .profile-posts{
        padding: 0px 6px;
    }
    .madarsa-info-wrapper{
        padding: 10px 14px;
    }
    .mobile-profile-action-wrapper{
        display: flex;
        padding: 10px 0px;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    .mobile-profile-action-wrapper i{
        margin: 0px;
        background-color: #dae0f1;
        padding: 6px 10px;
        border-radius: 50%;
    }
    .mobile-follow-button{
        all: unset;
        background-color: black;
        width: 70%;
        color: white;
        text-align: center;
        padding: 8px 0px;
        font-size: 12px;
        border-radius: 20px;
    }
    .mobile-info-wrapper{
        display: block;
        margin-top: 20px;
    }
    .mobile-org-type{
        font-size: 12px;
        padding: 8px 0px;
        color: gray;
    }
    .madarsa-type-info-wrapper{
        display: none;
    }
    .main-org-wrapper{
        padding: 0px;
    }
    .madarsa-instant-actions{
        display: none;
    }
    .madarsa-mobile-dialog{
        position: absolute;
        background-color: white;
        right:50px;
    }
}