.navbar-top{
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999999999999999;
}
.action-icons-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.action-icon{
    font-size: 22px;
}
.action-icons{
    padding: 8px 16px;
}
.action-center-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
}
.action-item{
    padding: 8px 10px;
}
.logo-items-wrapper{
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.logoimage{
    height: 30px;
    width: 30px;
}
.search-input{
    all: unset;
    border: 1px solid gray;
    padding: 5px 12px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: white;
}
.house{
    border-bottom: 4px solid magenta;
}
.navbar-user-image{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.navbar-image-data{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* bottom navbar */
.bottom-navbar{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

/* mobile header */
.mobile-header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.mobile-logo-wrapper{
    height: 30px;
    width: 30px;
}
.mobile-logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: 4px;
}

@media only screen and (max-width:600px){
    .navbar-top{
        display: none;
    }
}