.search-results-card{
    overflow: hidden;
    border-radius: 8px;
}
.search-results-header{
    display: flex;
    background-color: #f0f1ee;
    font-size: 14px;
    position: sticky;
    top: 60px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}   
.search-result-type{
    padding: 14px;
    font-weight: bold;
}
.search-results-body{
    background-color: white;
}
.search-result-people{
    padding: 20px 10px;
    border-bottom: 1px solid lightgray;
}
.search-result-wrapper{
    display: flex;
    justify-content: space-between;
}

.follow-button{
    all: unset;
    background-color: black;
    color: white;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 20px;
}
.search-people-img-wrapper{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.square-image{
    border-radius: 0% !important;
}
.img-fit{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.search-people-info{
    display: flex;
    gap: 10px;
}
.searched-name{
    font-weight: bold;
}
.searched-username{
    font-size: 14px;
}
.search-people-details{
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
}
.searched-bio{
    font-size: 14px;
    color: black !important;
    margin-top: 12px;
}
.search-results-footer{
    padding: 10px 0px;
    font-weight: bold;
    background-color: #f0f1ee;
}
.result-data-wrapper{
    padding: 0px 30px;
}
.result-active{
    border-bottom: 4px solid magenta;
}

/* explore */
.result-search-feild-wrapper{
    padding: 10px;
    background-color: #f0f1ee;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
}
.explore-search-feild{
    padding: 10px 20px;
    border-radius: 30px !important;
}
.clips-container{
    background-color: white;
    margin-top:6px;
    border-radius: 8px;
    gap: 10px;
    overflow: hidden;
}
.clip{
    width: 33.33%;
    height: 300px;
    border-radius: 6px;
    overflow: hidden;
}
.clip:hover{
    opacity: 0.6;
    cursor: pointer;
}
.explore-clips{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.clips-wrapper{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.view-all-link{
    text-align: center;
    padding:10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #f0f1ee;
    border-top: 1px solid lightgray;
}
.search-result-header{
    background-color: white;
    font-size: 22px;
    padding: 12px;
}